* {
    box-sizing: border-box;
    text-align: center;
    cursor: crosshair;
}

body{
    width: 600px;
    margin: 0 auto;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: 'Hanalei Fill', cursive;
}

@-webkit-keyframes colorchange {
    0%{
        color: #233D4D;
    }
    20%{
        color: #E8C8C4;
    }
    40%{
        color: #E86987;
    }
    60%{
        color: #A1E869;
    }
    80%{
        color: #B95CFF;
    }
    100%{
        color: #6C83FF;
    }
}

h1 {
    text-align: center; 
    margin: 20px auto;
    font-family: 'Pirata One', cursive;
    text-shadow:  2px 2px #FF0000;
    font-size: 46px;
    -webkit-animation: colorchange 3s infinite alternate;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    position: relative;
}

.wrapper {
    width: 100%;
    margin: 0;
    display: flex;
}

.box {
    background-color: aquamarine;
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: #FF735D;
    font-size: 22px;
    text-shadow:  1px 1px rgb(81, 255, 0);
    font-family: 'Marck Script', cursive;
}

.submarine {
    height: 100px;
    width: 100px;
    margin: 0px;
    position: relative;
}

.shot {
    margin: 0px;
    background-image: url("Explosion.png");
    animation-name: fade;
	animation-direction: alternate;
    background-position: center;
    background-size: cover;
}

.guess-feedback {
    margin: 0; 
    font-size: 25px;
    text-align: left;
    width: 50%;
    -webkit-animation: colorchange 6s infinite alternate;
}

p {
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    text-shadow:  1px 1px #FF0000;
}
.starting-position {
    font-size: 30px;
    width: 30%;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: right;
}

.data-index {
    font-size: 27px; 
    text-align: center;
}

#instructions{
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    text-shadow: none;
}
