* {
    box-sizing: border-box;
}

body{
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background: #FFCD00;
}

h1 {
    text-align: center; 
    margin: 40px auto;
    font-family: 'Hanalei Fill', cursive;
    font-size: 70px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  /* position: absolute; */
}

.box {
    background-color: aquamarine;
    display: flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.reset {
    text-align: center;
    font-size: 40px; 
    margin: 20px auto;
    display: flex;
    font-family: 'Hanalei Fill', cursive;
}

/* not hidden */
.hidde {
   display: none;
}

.submarine {
    background-color: green;
    /* change to image/css for finishing touches */

}

.shot {
    background-color: red;
}